.header, .footer {
  font-family: 'Dancing Script', cursive;
  height: 7vh;
  background-image: linear-gradient(to right, rgb(41, 101, 155), rgb(38, 98, 189), rgb(0, 132, 255),rgb(146, 199, 234));
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 86vh;
}

.logo {
  color: white;
  font-size: 3vw;
}

.home {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2vh;
}

.recipeReview {
  width: 20vw;
  height: 16vh;
  background-color: aliceblue;
  border: 2px solid black;
  padding: 2vh 2vw;
  font-family: 'Dancing Script', cursive;
  position: relative;
}

.recipeReview button {
  position: absolute;
  bottom: 1.5vh;
  right: 1vw;
  border-radius: 20px;
  padding: 7px;
  font-weight: bold;
}